body{

margin:0;
font-family:Arial;
background:linear-gradient(#ffd6e7,#ffffff);
text-align:center;

}

header{

background:#ff6fa5;
color:white;
padding:20px;

}

.main{

display:flex;
justify-content:center;
gap:80px;
padding:40px;

}

.box-area img{

width:200px;

}

button{

padding:12px 25px;
border:none;
border-radius:10px;
background:#ff4f87;
color:white;
font-size:16px;
cursor:pointer;

}

button:hover{

background:#ff2e6e;

}

.collection{

width:500px;

}

#collectionGrid{

display:grid;
grid-template-columns:repeat(5,1fr);
gap:10px;

}

.card{

background:white;
padding:10px;
border-radius:10px;
box-shadow:0 2px 6px rgba(0,0,0,0.1);
font-size:12px;

}

.shake{

animation:shake 0.6s;

}

@keyframes shake{

0%{transform:rotate(0)}
25%{transform:rotate(10deg)}
50%{transform:rotate(-10deg)}
75%{transform:rotate(10deg)}
100%{transform:rotate(0)}

}
